body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#start-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#scores {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#turn-indicator {
  margin: 20px;
  font-size: 20px;
}

.dice-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}

.dice {
  cursor: pointer;
}

.dice-face {
  width: 100px;
  height: 100px;
}

#roll-section {
  margin-top: 30px;
}

#winner-section {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
